[submodule "implementations/tdlight"]
	path = implementations/tdlight
	url = https://github.com/denistsyplakov/tdlite-fork
[submodule "tdlib-serializer"]
	path = tdlib-serializer
	url = https://git.ignuranza.net/tdlight-team/tdlib-serializer
